<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Character Creator</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
    <script>
    window.onload = init;
    //variables for the arrays of each name and also the iterators of each array
    var bodyArr,lArmArr,rArmArr,lLegArr,rLegArr;
    var bodI,laI,raI,llI,rlI;
    var c,ctx;
    var image,imageLA,imageRA,imageLL,imageRL;

    function click(){
      if(bodI < bodyArr.length - 1){
        bodI += 1;
        image.src = '/assets/' + bodyArr[bodI];
        renderAll();

      }
      else{
        bodI = 0;
        image.src = '/assets/' + bodyArr[bodI];
        renderAll();
      }
    }
    //Second function for button but one function will handle all changes for final piece
    function click2(){
      if(laI < lArmArr.length - 1){
        laI += 1;
        imageLA.src = '/assets/' + lArmArr[laI];
        imageRA.src = '/assets/' + rArmArr[laI];
        renderAll();
      }
      else{
        laI = 0;
        imageLA.src = '/assets/' + lArmArr[laI];
        imageRA.src = '/assets/' + rArmArr[laI];

        renderAll();
      }
    }

    function click3(){
      if(llI < lLegArr.length - 1){
        llI += 1;
        imageLL.src = '/assets/' + lLegArr[llI];
        imageRL.src = '/assets/' + lLegArr[llI];        
        renderAll();
      }
      else{
        llI = 0;
        imageLL.src = '/assets/' + lLegArr[llI];
        imageRL.src = '/assets/' + lLegArr[llI];        

        renderAll();
      }
    }

    function init(){
      bodyArr = ["monster1.png","monster2.png"];
      lArmArr = ["monsterLA1.png","monsterLA2.png"];
      rArmArr = ["monsterRA1.png","monsterRA2.png"];
      lLegArr = ["monsterLL1.png","monsterLL2.png"];
      rLegArr = ["monsterRL1.png","monsterRL2.png"];
      c = document.getElementById("myCanvas");
      ctx = c.getContext("2d");
      bodI = 0;
      laI = 0;
      raI = 0;
      llI = 0;
      rlI = 0;
      renderAll();
      const getKen = () => {
        return new Promise ((resolve,reject) => {
          sendAjax('GET', '/getToken', null, (result) => {
            resolve(result.csrfToken);

            reject("error");
          })
        })
      };

      document.getElementById("submitCharacter").onclick = function (e) {
        e.preventDefault();
        var dataUrl = c.toDataURL();
        
        
        getKen().then( (token) => {
          $.ajax({
          type:"POST",
          url:"/submitCharacter",
          data:{
            _csrf: token,
            bodySrc: image.src,
            leftArmSrc: imageLA.src,
            rightArmSrc: imageRA.src,
            leftLegSrc: imageLL.src,
            rightLegSrc: imageRL.src
          },
          success: function(result) {
            alert('ok');
          },
          error: function(result) {
            console.log(result);
            alert('error');
            }
          });
        })
      } 
    
    }


    function renderAll(){
      //clear canvas before placing new parts
      ctx.clearRect(0,0,200,200);
      //Image Left Arm
      imageLA = new Image();
      imageLA.src = '/assets/' + lArmArr[laI];
      imageLA.onload = () => {
      ctx.drawImage(imageLA, 0, 50);
      }

      //Image Right Arm
      imageRA = new Image();
      imageRA.src = '/assets/' + rArmArr[laI];
      imageRA.onload = () => {
      ctx.drawImage(imageRA, 100, 50);
      }

      //Image Left Leg
      imageLL = new Image();
      imageLL.src = '/assets/' + lLegArr[llI];
      imageLL.onload = () => {
      ctx.drawImage(imageLL, 40, 100);
      }

        //Image Right Leg
      imageRL = new Image();
      imageRL.src = '/assets/' + rLegArr[llI];
      imageRL.onload = () => {
      ctx.drawImage(imageRL, 60, 100);
      }

       //Image Body
      image = new Image();
      image.src = '/assets/' + bodyArr[bodI];
      image.onload = () => {
      ctx.drawImage(image, 50, 50);
      }
    }

  </script>
</head>
<body>
  <nav><!--<a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>-->
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink" id="about"><a href="/about">About</a></div>
    <div class="navlink"><a href="/Home">Home</a></div>

  </nav>

  <section id="makeDomo">
  </section> 
 
  <div id="domoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>

  <br>
  <div id="content">
    <section id="domos"></section> 
      <div id="canvas">
        <canvas id="myCanvas" width="400" height="200"></canvas>
      </div>
    <div id="area"></div>
    <br>
    <div id="canvas">
        <button id="submitCharacter"> Submit Character </button>
    </div>
  </div>





  <script src="/assets/bundle.js"></script>
</body>
</html>